@(employee : Employee)
<!DOCTYPE html>
<html>
<body>
<h1>Edit Employee</h1>
<label>Title of Courtesy</label>
<input type="text" name="titleofcourtesy" id="titleofcourtesy" value="@employee.getTitleOfCourtesy"><br />
<label>First Name</label>
<input type="text" name="lastname" id="lastname" value="@employee.getLastName"><br />
<label>Last Name</label>
<input type="text" name="firstname" id="firstname" value="@employee.getFirstName"><br />
<label>Title</label>
<input type="text" name="title" id="title" value="@employee.getTitle">
</body>
</html>

